

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.header {
  background-color: #FFFFFF;
  color: white;
  height: 355px;
}

.header img {
  max-width: 1000px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.headerContainer {
  overflow: hidden;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  width: 1000px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding: 0px 10px;
  padding-top: 18px;
  color: #323232;
}

.nav li {
  display: block;
  float: left;
  color: #323232;
  font-family: 'Quicksand', sans-serif;
  padding: 6px 20px;
  margin-left: 100px;
}

.ol {
  color: #323232;
}

a {
  text-decoration: none;
  color: #323232;
}


.nav li:last-child {
  border-right: none;
}

.about {
    margin-top: -16px;;
    height: 700px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    background-color: #B1B1B1;
  }

.about p {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 130px;
  margin-right: auto;
  margin-top: 60px;
  float: left;
}

.about p1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: -155px;
  margin-right: auto;
  margin-top: 90px;
  float: left;
}

.about p2 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 80px;
  margin-right: auto;
  margin-top: 40px;
  float: left;
}

.about p3 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: -170px;
  margin-right: auto;
  margin-top: 68px;
  float: left;
}

.about p4 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 150px;
  margin-right: auto;
  margin-top: 20px;
  float: left;
}

.about p5 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: -70px;
  margin-right: auto;
  margin-top: 50px;
  float: left;
}
=======
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
      display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
>>>>>>> origin/master
