

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}


.header {
  background-color: #FFFFFF;
  color: white;
  height: 355px;
}

.header img {
  max-width: 1000px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.headerContainer {
  overflow: hidden;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  width: 1000px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding: 0px 10px;
  padding-top: 18px;
}

.nav li {
  display: block;
  float: left;
  color: #233636;
  font-family: 'Quicksand', sans-serif;
  padding: 6px 20px;
  margin-left: 100px;


}

a {
  text-decoration: none;
}


.nav li:last-child {
  border-right: none;
}


.JoinUS {
    margin-top: -16px;;
    height: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #323232;
  }

.outercontainer{
  width: 800px;
  padding-left: 100px;
  padding-top: 40px;
}


  input[type=text], input[type=Email], input[type="Contact"], input[type="Experience"] {
      width: 100%;
      padding: 12px 20px;
      margin: 40px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
  }


  button {
      background-color: #7CE2D4;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
  }


  .cancelbtn {
      padding: 14px 20px;
      background-color: #A298E1;
  }


  .cancelbtn,.signupbtn {
      float: left;
      width: 50%;
  }


  .formcontainer {
      padding: 16px;
      color: white;
  }


  .clearfix::after {
      content: "";
      clear: both;
      display: table;

  }
