

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.header {
  background-color: #FFFFFF;
  color: white;
  height: 355px;
}

.header img {
  max-width: 1000px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.headerContainer {
  overflow: hidden;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  width: 1000px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding: 0px 10px;
  padding-top: 18px;
}

.nav li {
  display: block;
  float: left;
  color: #233636;
  font-family: 'Quicksand', sans-serif;
  padding: 6px 20px;
  margin-left: 100px;
}

.nav li:last-child {
  border-right: none;
}

a {
  text-decoration: none;
}


.about {
    margin-top: -16px;;
    height: 430px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #323232;
  }

  .aboutus img {
    max-width: 200px;
    margin-top: 70px;
    width: 100%;
    margin-left: 45px;
    margin-right: auto;
    float: left;
  }

  .map img {
    max-width: 300px;
    margin-top: 170px;
    width: 100%;
    margin-left: -200px;
    margin-right: auto;
    float: left;
  }

.about p {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  margin-left: 400px;
  margin-right: 100px;
  margin-top: -240px;
  float: left;
}

.about p1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 400px;
  margin-right: 100px;
  margin-top: -130px;
  float: left;
}

.border {
  margin-top: 0px;
  height: 100px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #B1B1B1;
}

.ourprojects img {
  max-width: 300px;
  margin-top: 0px;
  width: 100%;
  margin-left: 45px;
  margin-right: auto;
  float: left;
}

.projects {
  margin-top: -100px;;
  height: 460px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #B1B1B1;
}

.monsterface img {
  max-width: 100px;
  margin-top: 25px;
  width: 100%;
  margin-left: 130px;
  margin-right: auto;
  float: left;
}

.monsterface2 img {
  max-width: 100px;
  margin-top: 20px;
  width: 100%;
  margin-left: 150px;
  margin-right: auto;
  float: left;
}


.projects .box1 {
  margin-top: 100px;;
  height: 370px;
  width: 240px;
  margin-left: 400px;
  margin-right: auto;
  background-color: #24446D;
}

.projects p {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  float: left;
}

.projects .box2 {
  margin-top: -370px;;
  height: 370px;
  width: 240px;
  margin-left: 660px;
  margin-right: auto;
  background-color: #24446D;
  float: left;
}

.projects p1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 140px;
  float: left;
}

.border2 {
  margin-top: 0px;
  height: 100px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #566D96;
}

.border3 {
  margin-top: 0px;
  height: 30px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #566D96;
}

.border3 p {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 400px;
  margin-right: 100px;
  margin-top: 0px;
}

.newsletter {
  margin-top: 0px;
  height: 130px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #566D96;
}


.newsletter form {
  margin-left: 400px;
  margin-top: 0px;
}

.newsletterhead img {
    max-width: 300px;
    margin-top: -30px;
    width: 100%;
    margin-left: 45px;
    margin-right: auto;
    float: left;
}

.finalwords {
  margin-top: 0px;
  height: 200px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.disney img {
  max-width: 200px;
  margin-top: -100px;
  width: 100%;
  margin-left: 400px;
  margin-right: auto;
  float: left;
}

.asseenin p {
  color: #323232;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 400px;
  margin-right: 100px;
  margin-top: -130px;
}
